aiohttp
async-timeout
attrs
Automat
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
constantly
crochet
cryptography
cssselect
discord
discord.py
dnspython
Flask
gunicorn
h2
hpack
hyperframe
hyperlink
idna-metadata
incremental
itemadapter
itemloaders
itsdangerous
Jinja2
jmespath
lxml
MarkupSafe
multidict
parsel
priority
Protego
proxyscrape
pyasn1
pyasn1-modules
pycparser
Pygments
pymongo
pyOpenSSL
queuelib
requests
Scrapy
scrapy-rotating-proxies
service-identity
six
soupsieve
tinydb
Twisted
typing
typing-extensions
urllib3
w3lib
Werkzeug
wrapt
yarl
zipp
zope.interface
